aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
appnope==0.1.4
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
bitarray==3.6.1
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
ckzg==2.1.1
click==8.2.1
comm==0.2.3
cytoolz==1.0.1
debugpy==1.8.16
decorator==5.2.1
distro==1.9.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.0
eth_abi==5.2.0
exceptiongroup==1.3.0
executing==2.2.0
filelock==3.19.1
Flask==2.3.3
frozenlist==1.7.0
fsspec==2025.7.0
h11==0.16.0
hexbytes==1.3.1
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ipykernel==6.30.1
ipython==8.37.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
jsonlines==4.0.0
jupyter_client==8.6.3
jupyter_core==5.8.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mpmath==1.3.0
multidict==6.6.4
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.6
openai==1.101.0
packaging==25.0
pandas==2.3.2
parsimonious==0.10.0
parso==0.8.5
pexpect==4.9.0
platformdirs==4.3.8
plotly==5.17.0
prompt_toolkit==3.0.51
propcache==0.3.2
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyunormalize==16.0.0
pyzmq==27.0.2
regex==2025.7.34
requests==2.32.5
rlp==4.1.0
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
sympy==1.14.0
tenacity==9.1.2
toolz==1.0.0
torch==2.8.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
types-requests==2.32.4.20250809
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.13
web3==7.13.0
websockets==15.0.1
Werkzeug==2.3.7
yarl==1.20.1

